body 
{
    font-family: sherif;
    background-color: coral;
    /*la police du document est la police shérif et le font couleur coral 
    (qui ressemble à la couleur de la terre battue)*/
}

h2
{
    text-align: center;
}

h4
{
    text-align: center;
}

p
{
    text-align: center;
}

.c1
{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

table
{
    text-align: center;
}

table, th, td 
{
    border: 1px solid rgb(248, 81, 3);
}

.container
{
    align-items: center;
}