body 
{
    font-family: sherif;
    background-color: coral;
    /*la police du document est la police shérif et le font couleur coral 
    (qui ressemble à la couleur de la terre battue)*/
}
h1
{
    text-align: center; 
    font-style: italic;
    font-weight: bold;
}
h4
{
    text-align: center; 
     /*Les introductions seront centrées*/
}

p{
    text-align: center; 
     /*Les liens seront centrés*/
}