body 
{
    font-family: sherif;
    background-color: coral;
    /*la police du document est la police shérif et le font couleur coral 
    (qui ressemble à la couleur de la terre battue)*/
}
h1
{
    text-align: center;
}

h2
{
    text-align: center;
    font-style: italic;
}
h3
{
    text-decoration: underline;
}